<script src="https://kit.fontawesome.com/6fd84a1e7d.js" crossorigin="anonymous"></script>

<div class="container px-5 px-sm-0">

  <h2>商品一覧</h2><p>(全ｘ件)</p>

  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-8 offset-md-1">
      <% @items.each do |item| %>

        <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image(100,80) %>
        <% end %>

        <div>商品名</div>
        <%= item.name %>

        ￥<%= item.with_tax_price %>
      <% end %>
    </div>
  </div>
</div>
